<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ted Gershon">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Ted Gershon</title>
    <link rel="icon" href="../static/logo.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script defer src="../static/script.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Ted Gershon</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon"><i class="fa fa-bars" onclick="activeNav()"></i></a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td><strong>Generation SERVE</strong></td><td>Served as an Activity Leader for 2+ non-profit events per <br> month across 112 Austin-area non-profits</td></tr>
            <tr><td><strong>PDAP x APA</strong></td><td>Conducting data analysis and visualization on police arrest and <br>citation data following Pittsburgh's 2015 marijuana ordinance</td></tr>
        </table>
        <a href="../static/Resume.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Ted Gershon &copy</p>
    </footer>
</body>
</html>