<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ted Gershon">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Ted Gershon</title>
    <link rel="icon" href="../static/logo.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script defer src="../static/script.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- <script defer>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({key: "AIzaSyA_xXdkVoR1BIrZbseqpc2AQ6iCzl0MyeU", v: "weekly"});</script> -->
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Ted Gershon</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html" class="active">For Fun</a>
            <a href="javascript:void(0);" class="icon"><i class="fa fa-bars" onclick="activeNav()"></i></a>
        </nav>
    </header>
    <div class="mainFun">
        <div id="item1">
        <h2>Things I love to do for fun</h2>
<!-- <button id="SeeMoreBTN" onclick="showList()">Click to see...</button> -->
        <ul id="FavList">
            <li>Eat</li>
            <li>Sleep</li>
            <li>Homework</li>
            <li>Repeat</li>
            <li>Get ahead on IS Milieux Homework hahaha</li>
        </ul>
        </div>
        <div id="item2"><iframe width="560" height="315" src="https://www.youtube.com/embed/jxu54Y8An1g?si=vJQer7llZsdoT4K9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <div id="item3">
            <!-- embedded iFrame element -->
            <h3>My favorite places</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.7270772503457!2d-79.95534904712747!3d40.44392724709674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f228a3e31c8b%3A0xcb999890de87ffa6!2sCathedral%20of%20Learning!5e0!3m2!1sen!2sus!4v1711422410977!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <!-- <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+""); -->
                <!-- for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))}) -->
                    <!-- ({key: "AIzaSyA_xXdkVoR1BIrZbseqpc2AQ6iCzl0MyeU", v: "weekly"});</script> -->
        </div>
        <div id="item4">
            <img id = "funIMG" src="../static/whale.JPG" width = "150px">
        </div>
    <footer>
        <p id="copyYear">Ted Gershon &copy</p>
    </footer>
</body>
</html>